extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	.container
		.row.mt-5
			.col-sm-4
				ul#filter-list
					li.active(data-filter="0") All
					li(data-filter="1") Aaa
					li(data-filter="2") Bbb
					li(data-filter="3") Ccc
					li(data-filter="4") Ddd
			.col-sm-8
				.row#list-item
					.col.mb-2(data-type="1")
						.item AAAAAAAAAAAAAAAA
					.col.mb-2(data-type="2")
						.item BBBBBBBBBBBBBBBBBBBBB
					.col.mb-2(data-type="3")
						.item CCCCCCCCCCCCCCCCC
					.col.mb-2(data-type="4")
						.item DDDDDDDDDDDDDDDDDDDDDDDD
					.col.mb-2(data-type="3")
						.item CCCCCCCCCCCCCCCCC
					.col.mb-2(data-type="2")
						.item BBBBBBBBBBBBBBBBBBBBB
					.col.mb-2(data-type="4")
						.item DDDDDDDDDDDDDDDDDDDDDDDD
					.col.mb-2(data-type="3")
						.item CCCCCCCCCCCCCCCCC
					.col.mb-2(data-type="1")
						.item AAAAAAAAAAAAAAAA


