extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	.container
		.row
			.col
				.box-radio
					input#fec(type="radio", name="check" value='1' checked) 
					label(for="fec") FeCredit
					input#pru(type="radio", name="check" value='2') 
					label(for="pru") Prudential
				.content
					//-gia sp
					label(for="#dg") Giá sản phẩm ($)
					input#dg(type="number" name="gia" placeholder='Số tiền ($)' value='7190000')
					//-dua truoc
					label(for="#tt") Đưa trước ($)
					input#tt(type="number" name="tratruoc" placeholder='Đưa trước ($)' value='719000')
					//-so thang
					label(for="#thang") Số tháng muốn trả góp
					.erro_thang
					input#thang(type="number" name="thang" placeholder='tháng' value='6')
					//-so tien con lai
					label(for="#cl") Số tiền còn lại phải góp ($)
					input#cl(type="number" name="conlai" placeholder='Còn lại' value='600' readOnly='true')
					label(for="laisuat") Lãi suất
					#laisuat
					#tinh
						label(for="gop") Số tiền góp (theo tháng):
						span#gop 0

